@model Neonatal_App.Models.Survey

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Survey</h4>
        <hr />
        <!--hidden id field-->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <!--choose client by id-->
        <h5><b>Please choose the mother's name from the dropdown below</b></h5>
        <div class="form-group">
            @Html.LabelFor(model => model.client_id, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>

        <!--begin survey-->
        <h5>1. Please enter the mother's race.</h5>
        @Html.RadioButtonFor(m => m.Q1_race, "1") Non-Hispanic African American<br>
        @Html.RadioButtonFor(m => m.Q1_race, "2") Non-Hispanic White<br>
        @Html.RadioButtonFor(m => m.Q1_race, "3") Non-Hispanic Asian<br>
        @Html.RadioButtonFor(m => m.Q1_race, "4") Hispanic/Latino<br>
        @Html.RadioButtonFor(m => m.Q1_race, "5") Non-Hispanic Other<br>

        <!--non-functional and does not send to db-->
        <!--use radiobuttons as stand-in-->
        <h5>2. Please enter the mother's ward.</h5>
        @Html.RadioButtonFor(m => m.Q2_ward, "1") Ward 1<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "2") Wars 2<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "3") Ward 3<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "4") Ward 4<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "5") Ward 5<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "6") Ward 6<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "7") Ward 7<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "8") Ward 8<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "9") Ward 9<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "10") Ward 10<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "11") Ward 11<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "12") Ward 12<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "13") Ward 13<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "14") Ward 14<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "15") Ward 15<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "16") Ward 16<br>
        @Html.RadioButtonFor(m => m.Q2_ward, "17") Ward 17<br>

        @*Html.DropDownList("Ward", new List<SelectListItem>
        {
            new SelectListItem{ Text="Ward 1 - Fairfax", Value = "1" },
            new SelectListItem{ Text="Ward 2 - Central", Value = "2" },
            new SelectListItem{ Text="Ward 3 - Buckeye", Value = "3" },
            new SelectListItem{ Text="Ward 4", Value = "4" },
            new SelectListItem{ Text="Ward 5", Value = "5" },
            new SelectListItem{ Text="Ward 6", Value = "6" },
            new SelectListItem{ Text="Ward 7", Value = "7" },
            new SelectListItem{ Text="Ward 8", Value = "8" },
            new SelectListItem{ Text="Ward 9", Value = "9" },
            new SelectListItem{ Text="Ward 10", Value = "10" },
            new SelectListItem{ Text="Ward 11", Value = "11" },
            new SelectListItem{ Text="Ward 12", Value = "12" },
            new SelectListItem{ Text="Ward 13", Value = "13" },
            new SelectListItem{ Text="Ward 14", Value = "14" },
            new SelectListItem{ Text="Ward 15", Value = "15" },
            new SelectListItem{ Text="Ward 16", Value = "16" },
            new SelectListItem{ Text="Ward 17", Value = "17" }
        })*@
        <br />

        <h5>3. Is this your first child?</h5>
        @Html.RadioButtonFor(m => m.Q3_first_child, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q3_first_child, "2") No<br>
        @Html.RadioButtonFor(m => m.Q3_first_child, "3") Prefer not to comment/Unsure<br>

        <h5>4. Was your previous child(ren) delivered prematurely?</h5>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "2") No<br>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "3") Prefer not to comment/Unsure<br>

        <h5>5. What week of your pregnancy did you visit a prenatal healthcare professional?</h5>
        @Html.RadioButtonFor(m => m.Q5_obgyn, "1") 0-13 weeks (First Trimester)<br>
        @Html.RadioButtonFor(m => m.Q5_obgyn, "2") 14-26 weeks (Second Trimester)<br>
        @Html.RadioButtonFor(m => m.Q5_obgyn, "3") 27-40+ weeks (Third Trimester)<br>
        @Html.RadioButtonFor(m => m.Q5_obgyn, "4") I did not visit a prenatal healthcare professional<br>
        @Html.RadioButtonFor(m => m.Q5_obgyn, "5") Prefer not to coment/Unsure<br>


        <h5>6. How old are you?</h5>
        @Html.RadioButtonFor(m => m.Q6_age, "1") 13 years old or younger<br>
        @Html.RadioButtonFor(m => m.Q6_age, "2") 14 years old to 19 years old<br>
        @Html.RadioButtonFor(m => m.Q6_age, "3") 20 years old to 24 years old<br>
        @Html.RadioButtonFor(m => m.Q6_age, "4") 25 years old to 29 years old<br>
        @Html.RadioButtonFor(m => m.Q6_age, "5") 30 years old to 34 years old<br>
        @Html.RadioButtonFor(m => m.Q6_age, "6") 35 years old to 39 years old<br>
        @Html.RadioButtonFor(m => m.Q6_age, "4") 40 years old or older<br>

        <h5>7. What is your stress level on a daily basis?</h5>
        @Html.RadioButtonFor(m => m.Q7_stress, "1") Very high stress<br>
        @Html.RadioButtonFor(m => m.Q7_stress, "2") Somewhat stressed<br>
        @Html.RadioButtonFor(m => m.Q7_stress, "3") Neutral<br>
        @Html.RadioButtonFor(m => m.Q7_stress, "4") Somewhat relaxed<br>
        @Html.RadioButtonFor(m => m.Q7_stress, "5") Very relaxed<br>


        <h5>8. Have you smoked a cigarette(used a tobacco product) in the last year?</h5>
        @Html.RadioButtonFor(m => m.Q8_smoker, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q8_smoker, "2") No<br>
        @Html.RadioButtonFor(m => m.Q8_smoker, "3") Prefer not to comment/Unsure<br>

        <h5>9. Does anyone in your family/household smoke cigarettes or use tobacco?</h5>
        @Html.RadioButtonFor(m => m.Q9_fam_smoker, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q9_fam_smoker, "2") No<br>
        @Html.RadioButtonFor(m => m.Q9_fam_smoker, "3") Prefer not to comment/Unsure<br>

        <h5>10. Have you drank alcohol in the last month?</h5>
        @Html.RadioButtonFor(m => m.Q10_alcohol, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q10_alcohol, "2") No<br>
        @Html.RadioButtonFor(m => m.Q10_alcohol, "3") Prefer not to comment/Unsure<br>


        <h5>11. Does anyone in your family/household drink alcohol on a weekly basis?</h5>
        @Html.RadioButtonFor(m => m.Q11_fam_alcohol, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q11_fam_alcohol, "2") No<br>
        @Html.RadioButtonFor(m => m.Q11_fam_alcohol, "3") Prefer not to comment/Unsure<br>


        <h5>12. Has anyone in your family used drugs other than tobacco and alcohol?</h5>
        @Html.RadioButtonFor(m => m.Q12_fam_drug, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q12_fam_drug, "2") No<br>
        @Html.RadioButtonFor(m => m.Q12_fam_drug, "3") Prefer not to comment/Unsure<br>


        <h5>13. Have you used any drugs other than alcohol or tobacco in the last year?</h5>
        @Html.RadioButtonFor(m => m.Q13_drug, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q13_drug, "2") No<br>
        @Html.RadioButtonFor(m => m.Q13_drug, "3") Prefer not to comment/Unsure<br>


        <h5>14. Do you feel safe in your own home?</h5>
        @Html.RadioButtonFor(m => m.Q14_safe_nbhood, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q14_safe_nbhood, "2") No<br>
        @Html.RadioButtonFor(m => m.Q14_safe_nbhood, "3") Prefer not to comment/Unsure<br>


        <h5>15. Do you feel safe in your neighborhood?</h5>
        @Html.RadioButtonFor(m => m.Q15_safe_home, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q15_safe_home, "2") No<br>
        @Html.RadioButtonFor(m => m.Q15_safe_home, "3") Prefer not to comment/Unsure<br>


        <h5>16. Do you currently have a chronic illness?</h5>
        @Html.RadioButtonFor(m => m.Q16_illness, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q16_illness, "2") No<br>
        @Html.RadioButtonFor(m => m.Q16_illness, "3") Prefer not to comment/Unsure<br>


        <h5>17. Do you have reliable transportation?</h5>
        @Html.RadioButtonFor(m => m.Q17_transport, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q17_transport, "2") No<br>
        @Html.RadioButtonFor(m => m.Q17_transport, "3") Unsure<br>


        <h5>18. Do you have reliable internet access in your home?</h5>
        @Html.RadioButtonFor(m => m.Q18_internet, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q18_internet, "2") No<br>
        @Html.RadioButtonFor(m => m.Q18_internet, "3") Unsure<br>


        <h5>19. Do you have mobile internet access?</h5>
        @Html.RadioButtonFor(m => m.Q19_mob_internet, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q19_mob_internet, "2") No<br>
        @Html.RadioButtonFor(m => m.Q19_mob_internet, "3") Unsure<br>

        <!--should be reworded-->
        <h5>20.Which of these would you say you eat on a daily basis?</h5>
        @Html.RadioButtonFor(m => m.Q20_diet, "1") A balanced diet including: milk and dairy, protein, fruits and vegetables<br>
        @Html.RadioButtonFor(m => m.Q20_diet, "2") Somewhat balanced diet including: milk and dairy, protein, fruits and vegetables, some candy, potato chips, and pasta/potatoes(carbohydrates) <br>
        @Html.RadioButtonFor(m => m.Q20_diet, "3") Mostly candy, potato chips, and fast food<br>

        <h5>21. Do you receive any government assistance?</h5>
        @Html.RadioButtonFor(m => m.Q21_gov_assist, "1") Yes<br>
        @Html.RadioButtonFor(m => m.Q21_gov_assist, "2") No<br>
        @Html.RadioButtonFor(m => m.Q21_gov_assist, "3") Unsure<br>

        <h5>22. What is your yearly household income?</h5>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "1") under $15,000<br>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "2") $15,000-$25,000<br>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "3") $25,000-$50,000<br>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "4") $50,000-$75,000<br>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "5") Above $75,000<br>
        @Html.RadioButtonFor(m => m.Q22_rel_income, "6") Prefer not to comment/Unsure<br>


        <h5>23.What is the highest level of education you have completed?</h5>
        @Html.RadioButtonFor(m => m.Q23_education, "1") Less than high school diploma<br>
        @Html.RadioButtonFor(m => m.Q23_education, "2") High School Diploma<br>
        @Html.RadioButtonFor(m => m.Q23_education, "3") Some college but no degree<br>
        @Html.RadioButtonFor(m => m.Q23_education, "4") Technical Degree<br>
        @Html.RadioButtonFor(m => m.Q23_education, "5") Associates Degree<br>
        @Html.RadioButtonFor(m => m.Q23_education, "6") Bachelors Degree or Above<br>
        <br />
        </div>
        <!--submit edits-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
}
<!--end form-->
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
