@model IEnumerable<Neonatal_App.Models.Client>

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <table>
        <caption>Client Information</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Risk Score</th>
                <th scope="col">Details</th>
                <th scope="col">Make Changes</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">@Html.ActionLink("Create New", "Create")</td>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        { 
        <tbody>
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.first_name)
                    @Html.DisplayFor(modelItem => item.last_name)
                </th>
                <td>
                    Generated Risk Score
                </td>
                <td>
                    @Html.ActionLink("Click Here", "Details", new {id = item.id})
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        </tbody>
    }
 </table>
</body>
</html>
